<div>
  data[0] : <%= data[0] %>
  <p>
  data[1] : <%= data[1] %>
  <p>
  data[2] : <%= data[2] %>
  <p>
  serviceData[0] : <%= serviceData[0] %>
  <p>
  serviceData[1] : <%= serviceData[1] %>
  <p>
  serviceData[2] : <%= serviceData[2] %>
  <p>
</div>
